body {
    background: #1abc9c;
    font-family: Tahoma, Arial, serif;
    color: #333;
}
.logo {
    height: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

p, h4 {
    font-size: 14px;
    margin-bottom: 0;
}

ul, ol {
    margin: 0
}

table tr td {
    padding: 5px
}